body {
    background-color:#303030; 
    color:#FFFFFF;
    margin:0%;
}
a {
	color:#537EA7;
}


.topnav {
	background-color:#454545;
	overflow:auto;
}
.topnav a {
	float:left;
	columns: #f2f2f2;
	text-align:center;
	padding:12px;
}
.active {
	background-color:#537EA7;
	color:#000000;
}